@import "tailwindcss";

@custom-variant light (&:where(.light *, .light));

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-bg: var(--bg);
  --color-panel: var(--panel);
  --color-secondaryPanel: var(--secondaryPanel);
  --color-textColor: var(--textColor);
  --color-hoverEffect: var(--hoverEffect);

  --font-font-family: Roboto, sans-serif;

  --text-small: 1.6rem;
  --text-base: 2rem;
  --text-medium: 2.4rem;
  --text-large: 3rem;
  --text-extraLarge: 4.5rem;
  --text-giant: 6rem;

  --shadow-allAround: 0 0 20px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply font-font-family;
  }

  html {
    @apply text-[62.5%] font-normal;
  }

  body {
    @apply bg-bg text-small;
  }
}

.ReactCollapse--collapse {
  @apply transition-all duration-500;
}

:root {
  --primary: #00bd95;
  --secondary: #19584f;
  --tertiary: #20272f;
  --bg: #303135;
  --panel: #20272fc7;
  --secondaryPanel: #171c22;
  --textColor: #ffffff;
  --hoverEffect: #ffffff;
}

.light {
  --primary: #00bd95;
  --secondary: #19584f;
  --tertiary: #f3eeea;
  --bg: #d8d2c2;
  --panel: #f3eeeab0;
  --secondaryPanel: #dfd6c6;
  --textColor: #000000;
  --hoverEffect: #dadada;
}

#postContent {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-medium text-textColor md:text-large relative mb-5 inline-block font-bold first-letter:capitalize;
  }

  h2::after,
  h3::after,
  h4::after,
  h5::after,
  h6::after {
    content: "";
    @apply from-primary absolute bottom-0 left-0 h-[2px] w-full bg-linear-to-r to-transparent;
  }

  p {
    @apply text-textColor mb-8 w-fit text-justify text-base leading-snug last-of-type:mb-0;

    a {
      @apply text-primary font-medium underline duration-300 hover:opacity-70;
    }
  }

  blockquote {
    @apply border-primary bg-secondaryPanel text-small text-primary mb-4 rounded-r-lg border-l-4 p-4;
  }

  ul {
    @apply text-textColor mb-4 ml-8 list-disc text-base;
  }

  ol {
    @apply text-textColor mb-4 ml-8 list-decimal text-base;
  }

  img {
    @apply border-primary shadow-allAround shadow-secondary m-auto mb-8 block h-fit max-h-[30rem] w-fit max-w-1/2 rounded-lg border object-cover object-center;
  }

  #postBanner {
    @apply w-full max-w-full md:h-fit md:max-h-full md:max-w-[80rem];
  }

  iframe {
    @apply h-[calc(60vw*9/16)] max-h-[calc(80rem*9/16)] w-[60vw] max-w-[80rem] rounded-lg;
  }

  pre {
    @apply border-primary bg-panel text-textColor mb-6 w-full overflow-auto rounded-lg border md:mb-10 md:w-fit;

    code {
      @apply bg-panel md:text-small border-0 p-4 font-mono text-[3dvw] font-normal;
    }
  }

  code {
    @apply border-secondary bg-panel text-small text-primary rounded-md border border-none px-2 font-mono font-semibold md:text-base;
  }

  pre code {
    @apply text-textColor block;
    white-space: pre-wrap;
  }

  table {
    @apply my-10 w-full md:w-fit;
  }

  table thead tr th {
    @apply border-primary bg-secondaryPanel border md:px-5 md:py-2;
  }

  tbody tr td {
    @apply border-textColor w-full border text-center md:px-5 md:py-2;
  }
}
