@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-fontFamily;
}

html {
  @apply text-[62.5%] font-normal;
}

body {
  @apply bg-bg text-small;
}

.ReactCollapse--collapse {
  @apply transition-all duration-500;
}

.light {
  --primary: #00bd95;
  --secondary: #19584f;
  --tertiary: #f3eeea;
  --bg: #d8d2c2;
  --panel: #f3eeeab0;
  --secondaryPanel: #dfd6c6;
  --textColor: #000000;
  --hoverEffect: #dadada;
}

:root {
  --primary: #00bd95;
  --secondary: #19584f;
  --tertiary: #20272f;
  --bg: #303135;
  --panel: #20272fc7;
  --secondaryPanel: #171c22;
  --textColor: #ffffff;
  --hoverEffect: #ffffff;
}

#postContent {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative mb-5 inline-block text-medium font-bold text-textColor first-letter:capitalize md:text-large;
  }

  h2::after,
  h3::after,
  h4::after,
  h5::after,
  h6::after {
    content: "";
    @apply absolute bottom-0 left-0 h-[2px] w-full bg-gradient-to-r from-primary to-transparent;
  }

  p {
    @apply mb-8 w-fit text-justify text-base leading-snug text-textColor last-of-type:mb-0;

    a {
      @apply font-medium text-primary underline duration-300 hover:opacity-70;
    }
  }

  blockquote {
    @apply mb-4 rounded-r-lg border-l-4 border-primary bg-secondaryPanel p-4 text-small text-primary;
  }

  ul {
    @apply mb-4 ml-8 list-disc text-base text-textColor;
  }

  ol {
    @apply mb-4 ml-8 list-decimal text-base text-textColor;
  }

  img {
    @apply m-auto mb-8 block h-fit max-h-[30rem] w-fit max-w-[50%] rounded-lg border border-primary object-cover object-center shadow-allAround shadow-secondary;
  }

  #postBanner {
    @apply w-full max-w-full md:h-fit md:max-h-full md:max-w-[80rem];
  }

  iframe {
    @apply h-[calc(60vw*9/16)] max-h-[calc(80rem*9/16)] w-[60vw] max-w-[80rem] rounded-lg;
  }

  pre {
    @apply mb-6 w-full overflow-auto rounded-lg border border-primary bg-panel text-textColor md:mb-10 md:w-fit;

    code {
      @apply border-0 bg-panel p-4 font-mono text-[3dvw] font-normal md:text-small;
    }
  }

  code {
    @apply rounded-md border border-none border-secondary bg-panel px-2 font-mono text-small font-semibold text-primary md:text-base;
  }

  pre code {
    @apply block text-textColor;
    white-space: pre-wrap;
  }

  table {
    @apply my-10 w-full md:w-fit;
  }

  table thead tr th {
    @apply border border-primary bg-secondaryPanel md:px-5 md:py-2;
  }

  tbody tr td {
    @apply w-full border border-textColor text-center md:px-5 md:py-2;
  }
}
